{% extends "app/layout.html.twig" %}

{% block header %}<h1>AGENDA D'EVENEMENT</h1><br/><h2>Liste des évenements</h2>{% endblock %}

{% block content %}
    <ol>
        {% for a in event %}
            <li>
                <b><a href="{{path('event_show', {'id':a.id})}}">{{ a.nom }} {{ a.nom}} - {{a.debut | date('d M Y')}}</a></b> || <a href="{{path('event_update', {'id':a.id})}}">{{"UPDATE"}}</a>
            </li>
        {% endfor %}

        <h4><a href="{{path('event_new')}}">{{"INSERER UN EVENT"}}</a> </h4>
    </ol>
{% endblock %}
